@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
:root{
    --cor-nav: #CEE5F2;
    --cor-act: #2667FF;
    --cor-rod: #1F0318;
    --cor-sombr: #CECECE;
    --cor-mud: #626C66;
}
*{
    padding: 0;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imagens/labbanner01.jpg);
    background-repeat: no-repeat;
    background-size: 100% 930px ;
    
}
/*Parte do cabeçalho, menu, etc*/
.cabecalho{
    margin: auto;
    display: flex;
    margin-top: 27px;
    justify-content: space-between;
    max-width: 1440px;
}
.logo{
    display: flex;
    margin-left: 35px;
}
.active{
    text-decoration: underline;
}
.botao_menu{
    display: none;
}
.menu{
    display: flex;
    margin-top: 20px;
    width: auto;
    margin-right: 15px;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    padding: 10px 20px;
    font-size: .86rem;
}
.menu ul li a:hover{
    text-decoration: underline;
    background-color: #111e26;
    color: white;
    transition: 0.9s;
    border-radius: 5%;
}
.menu ul li:hover ul{
    display: flex;
}
.menu ul li ul{
    position: absolute;
    display: none;
    background-color: white;
    margin-top: 10px;
    list-style: none;
}
.menu ul li ul a{
    color: black;
}

/*Parte da seção, parte "principal"*/
section#banner{
    margin: auto;
    display: flex;
    max-width: 1440px;
}
.contorno{
    border: 1px solid var(--cor-sombr);
    box-shadow: 0px 0px 10px var(--cor-sombr);
    padding: 0px 50px;
    background-color: white;
    width: auto;
}
.meio{
    background-image: url(../imagens/labbanner02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
div#agrupamento{
    height: 700px;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    text-shadow: .8px .8px 3px black;
    line-height: 2rem;
}
div#agrupamento .titulo{
    font-size: 30px;
}
div#agrupamento .informacao{
    font-size: 26px;
    width: 500px;
}
div#agrupamento a{
    color: white;
    text-decoration: none;
}
.titulo1{
    font-family: 'Oxygen Mono', monospace;
    font-size: 2rem;
}
.titulo2{
    background-image: linear-gradient(to right, var(--cor-nav),var(--cor-sombr));
    font-size: 1.1rem;
    padding: 2px;
    font-family: 'Oxygen Mono', monospace;
}
/*Parte do aside, mensagens secundárias*/
aside#secundario{
    max-width: 1440px;
    margin: auto;
    height: 941px;
    background-image: url(../imagens/logo.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    font-size: 20px;
}
.tracejados div{
    margin-left: 10px;
    width: 90%;
    margin-bottom: 40px;
    height: 1px;
    background-color: #111e26;
}
div#inferior{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
div#box_um, div#box_dois, div#box_tres{
    width: 450px;
    margin-top: 30px;
    margin-left: 60px;
    line-height: 1.9rem;
}
div#box_dois{
    align-self: flex-end;
    margin-right: 60px;
}
/*Parte de baixo, rodapé*/
.rodape{
    
    background-color: #111e26;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}
.rod_caixa{
    margin-left: 5px;
    margin-right: 10px;
    max-width: 1440px;
    margin: auto;
}
/*Medias query's*/
@media (max-width:1074px){
    .menu ul li a{
        font-size: .7rem;
    }
    div#agrupamento{
        align-items: flex-start;
        margin-left: 30px;
    }
}
@media (max-width:1000px){
    body{
        background-size: 100% 800px;
    }
    .menu{
        display: flex;
        align-items: flex-start;
        
    }
    .botao_menu{
        display: flex;
        cursor: pointer;
    }
    .menu ul{
        opacity: 65%;
        background-color: #111e26;
        text-align: center;
        position: absolute;
        display: none;
        flex-direction: column;
        left: 0;
        margin-top: 50px;
        width: 100%;
    }
    .menu ul li{
        padding: 20px;
    }
    .menu ul li ul{
        position: relative;
    }
    div#agrupamento .titulo{
        font-size: 25px;
    }
    div#agrupamento .informacao{
        font-size: 21px;
    }
    div#inferior{
        margin-top: 5px;
    }
    aside#secundario{
        background-size: 300px 214px;
    }
    .imagem-canto{
        display: none;
    }
    .titulo1{
        font-size: 1.8rem;
    }
    .titulo2{
        font-size: 0.9rem;
    }
}
@media (max-width:520px){
    body{
        background-size: 100% 40.6rem;
    }
    div#agrupamento{
        height: 600px;
    }
    div#agrupamento .titulo{
    font-size: 1rem;
    }
    div#agrupamento .informacao{
      font-size: 0.8rem;
      width: auto;
    }
    aside#secundario{
        font-size: 0.7rem;
    }
    div#inferior{
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }
    div#box_um, div#box_dois, div#box_tres{
        flex: 1;
        width: 80%;
        margin: 1px;
    }
    div#box_dois{
        align-self: auto;
        margin-right: 0px;
    }
    .imagem-canto{
        display: none;
    }
    .titulo1{
        font-size: 1.5rem;
    }
    .titulo2{
        font-size: 0.6rem;
    }
}