@charset "UTF-8";
*{
    padding: 0;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*Parte do cabeçalho, menu, etc*/
.cabecalho{
    display: flex;
    height: 90vh;
    width: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #CEE5F2;
}
.logo{
    display: flex;
    align-items: center;
    flex: 1;
}
.active{
    background-color: #2667FF;
    
}
.botao_menu{
    display: none;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(2, 1, 1);
    padding: 10px 20px;
    font-size: 1.1rem;
}
.menu ul li a:hover{
    color: #626C66;
    text-decoration: underline;
}
.menu ul li:hover ul{
    display: block;
}
.menu ul li ul{
    position: absolute;
    display: none;
    background-color: #CEE5F2;
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, 0.185);
}
/*Parte da seção, parte "principal"*/
section#banner{
    background-image: url("../imagens/labbanner01.jpg");
    height: 150vh;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
div#agrupamento{
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
div#superior{
    background-color: white;
    margin-top:40px ;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.288);
}
div#inferior{
    background-color: white;
    display: flex;
}
section#banner div#inferior div{
    border: 1px solid rgba(0, 0, 0, 0.288);;
    flex: 1;
    padding: 10px;
}
/*Parte de baixo, rodapé*/
.rodape{
    background-color: #1F0318;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    width: auto;
}
.rodape p,a{
    color: white;
    font-size: 1.2rem;
}
.rodape .ir_topo{
    font-size: 0.9rem;
    display: flex;
    align-self: center;
    text-decoration: underline;
    cursor: pointer;
}
/*Medias query's*/
@media (max-width:1000px){
    .cabecalho{
        width: auto;
        height: 70vh;
    }
    .menu{
        width: auto;
    }
    .menu ul li a{
        font-size: .8rem;
    }
    section#banner{
        height: 100vh;
       
    }
    div#agrupamento{
        width: 100%;
        align-items: center;
        
    }
    div#superior{
        width: 500px;
    }
    div#inferior{
        flex-direction: column;
        width: 500px; 
    }
}
@media (max-width:724px){
    .cabecalho{
        height: 50vh;
    }
    .menu{
        display: flex;
        align-items: flex-start;
        
    }
    .botao_menu{
        display: flex;
       
    }
    .active{
        width: 100%;
    }
    .menu ul{
        background-color: #CEE5F2;
        position: absolute;
        display: none;
        flex-direction: column;
        left: 0;
        margin-top: 0;
        width: 100%;
    }
    .menu ul li{
        padding: 20px;
    }
    .menu ul li ul{
        position: relative;
    }
}
@media (max-width:520px){
    *{
        font-size: 12px;
    }
    section#banner{
        height: 1000px;
        
    }
    div#superior, div#inferior{
        width: 20rem;
    }
}